@font-face {
    font-family: Montserrat;
    src: url("fonts/Montserrat-VariableFont_wght.ttf");
}

*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: black;
    padding: 10px 100px;
}
header img{
    width: 180px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    display: flex;
    gap: 20px;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 10px;
}
nav a:hover{
    color: #bfc500;
}
div .one{
    display: flex;
    justify-content: space-between;
    margin: 30px 30px 0px 30px;
}
.img{
    width: 1030px;
}
.contain,pre{
    font-family: Montserrat;
}
.pr{
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 900;
    margin: 30px 0px 30px 0px;
}
span .top{
    color: white;
    margin-bottom: 16px;
    font-weight: 100;
    text-align: justify;
    padding-right: 150px;
}
.second{
    height: 367px;
}
.second img{
    width: 170px;
    padding-top: 19px;
    padding-right: 17px;
}
.third img{
    width: 170px;
    padding-top: 19px;
}
div .para{
    color: #bfc500;
    margin-top: 30px;
    font-size: 26px;
    margin-left: 30px;
    margin-bottom: 30px;
}
.botton{
    color: white;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}
div.three{
    color: white;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
}
.re{
    margin-top: 15px;
    margin-bottom: 15px;
}
.pre{
    align-content: center;
    font-size: 12px;
    font-weight: 100;
}
#four{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: #bfc500;
    padding: 20px;
    margin: 38px 30px 0px 30px;
}
.left{
    font-family: sans-serif;
    font-size: 23px;
    font-weight: 900;
}
.center{
    margin: 16px 0px 16px 0px;
}
.right{
    font-weight: 600;
    color: #bfc500;
    background-color:#000;
    padding: 1px 4px 1px 4px;
    width: 200px;
    height: 75px;
    border-radius: 10px;
    font-size: 16px;
}
.right:hover{
    color: navy;
    background-color: #fff;
}
hr{
    margin: 40px 30px 0px 30px;
}
.five{
    margin: 30px;
}
.sp{
    color: #fff;
}
.h1{
    word-spacing: 3px;
    margin: 17px 0px 17px 30px;
}
.erp{
    margin: 17px 0px 17px 0px;
}
a{
    color: #bfc500;
}
.five{
    display: flex;
    justify-content:space-between;
}
.eno{
    width: 300px;
}
.six{
    color: #fff;
    margin: 30px;
    display: flex;
    flex-direction: column;
}
.hone{
    margin: 21px 0px 21px 0px;
    font-weight: 900;
}
.p{
    margin: 16px 0px 16px 0px;
}
.seven{
    margin: 60px;
    display: flex;
    justify-content: space-between;
}
.main{
    width: 150px;
}
.wot{
    width: 100px;
}
.pone{
    color: #fff;
    font-size: 12px;
    font-weight: 100;
    margin: 13px 0px 13px 0px;
}
.ptwo{
    color: #fff;
    font-size: 12px;
    font-weight: 100;
    margin: 40px 0px 13px 0px;
}
.pthree{
    color: #fff;
    font-size: 12px;
    font-weight: 100;
    margin: 40px 0px 13px 0px;
}
.pfour{
    color: #fff;
    font-size: 12px;
    font-weight: 100;
    margin: 13px 0px 40px 0px;
}
.pfive{
    color: #fff;
    font-size: 12px;
    font-weight: 100;
    margin: 50px 0px 13px 0px;
}
.htwo{
    color: #fff;
    margin: 21px 0px 21px 30px;
    font-weight: 900;
}
.preone{
    color: #fff;
}
.eight{
    display: flex;
    margin: 30px;
    justify-content: space-between;
}
.tfel{
    word-spacing: 3px;
    display: inline-block;
    width: 700px;
    height: 298px;
}
.eerht{
    width: 162px;
}
.nine{
    margin: 30px;
}
.hthree{
    color: #fff;
    font-weight: 900;
    margin: 21px 0px 21px 0px ;
}
.pretwo{
    color: #fff;
    margin: 16px 0px 16px 0px;
}
.ten{
    display: flex;
}
.niam{
    margin: 0px 50px 0px 50px;
    display: flex;
}
p{
    color: #bfc500;
    margin: 11px 60px 11px 0px;
}
del{
    color: #fff;
    margin: 16px 0px 16px 0px;
}
.ruof{
    height: 350px;
    background-color: #bfc500;

}

